



body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.slider-container {
    position: relative;
    width: 7500px;
    height: 720px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.slider {
    display: flex;
    width: 7500px; /* 5 images * 1500px */
    transition: transform 0.5s ease-in-out;
}


.slide {
    position: relative;
    width: 1500px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 200%;
    height: 110%;
   
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;


}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.prev-btn:hover, .next-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
